html
  head
    title olbitech
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='ljud, bild')
    meta(name='robots', content='index,follow')
    link(rel='stylesheet', href='style.css')
    base(href='http://williams-macbook-air-2.local:5757/olte/')
    link(rel='icon', href='images/favicon.ico')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    #container.container
      a#pageTop
      header.bg
        .header
          .logo
            img#logo.item(src='images/olte.jpg', alt='Olbitech Img', width='355', height='101,53')
            h2#slogan.item Ljud och Bild
            // h1>Olbitech</h1
            // img src="ht.jpg" id="bg" alt="speakers" width="75%" height="75%" /
      .links
        .link
          a#infoLink.link1(href='index.html#pageInfo') ▼
        a#pageInfo
        .link
          a#topLink.link2(href='index.html#pageTop') ▲
      section.content
        article.info
          h1 Info
          p
            | WWW och därmed HTML hade sitt genombrott i samband med att
            | Internet spreds explosionsartat bland den breda allmänheten
            | i Västvärlden i mitten av 1990-talet, varvid många kom att
            | uppfatta Internet och WWW som synonyma begrepp.
          p
            | HTML ger möjlighet att ange ett dokuments struktur (rubriker,
            | styckeindelning m.m.), metainformation (språk, författare,
            | plats i en hierarki) och i viss mån hur dokumentet skall visas.
            | HTML tillåter också att man infogar information av andra typer,
            | eventuellt i andra filer, från början framförallt bilder, senare
            | till exempel datorprogram (java, javascript) och instruktioner
            | för hur sidan skall visas (CSS). Det revolutionerande var dels
            | bilderna, dels hur lätt det var att länka till andra webbsidor.
          p
            | HTML har kontinuerligt utvecklats, dels genom standardiseringsorganisationer,
            | dels genom att tillverkare av webbläsare och webbservrar infört egna
            | utvidgningar. Genom att man inte hållit sig till en gemensam standard
            | är det vanligt att webbsidor inte helt fungerar med alla webbläsare.
          p
          p
            | WWW och därmed HTML hade sitt genombrott i samband med att
            | Internet spreds explosionsartat bland den breda allmänheten
            | i Västvärlden i mitten av 1990-talet, varvid många kom att
            | uppfatta Internet och WWW som synonyma begrepp.
          a#pageInfo
          p
            hr.inv
            .link
              a#contactLink.links(href='index.html#pageContact') ▼
            hr.inv
            |             HTML ger möjlighet att ange ett dokuments struktur (rubriker,
            |             styckeindelning m.m.), metainformation (språk, författare,
            |             plats i en hierarki) och i viss mån hur dokumentet skall visas.
            |             HTML tillåter också att man infogar information av andra typer,
            |             eventuellt i andra filer, från början framförallt bilder, senare
            |             till exempel datorprogram (java, javascript) och instruktioner
            |             för hur sidan skall visas (CSS). Det revolutionerande var dels
            |             bilderna, dels hur lätt det var att länka till andra webbsidor.
          p
            | HTML har kontinuerligt utvecklats, dels genom standardiseringsorganisationer,
            | dels genom att tillverkare av webbläsare och webbservrar infört egna
            | utvidgningar. Genom att man inte hållit sig till en gemensam standard
            | är det vanligt att webbsidor inte helt fungerar med alla webbläsare.
          p
          p
            | WWW och därmed HTML hade sitt genombrott i samband med att
            | Internet spreds explosionsartat bland den breda allmänheten
            | i Västvärlden i mitten av 1990-talet, varvid många kom att
            | uppfatta Internet och WWW som synonyma begrepp.
        .contact
          h1 Kontakt
          p
            a#pageContact
            |             HTML ger möjlighet att ange ett dokuments struktur (rubriker,
            |             styckeindelning m.m.), metainformation (språk, författare,
            |             plats i en hierarki) och i viss mån hur dokumentet skall visas.
            |             HTML tillåter också att man infogar information av andra typer,
            |             eventuellt i andra filer, från början framförallt bilder, senare
            |             till exempel datorprogram (java, javascript) och instruktioner
            |             för hur sidan skall visas (CSS). Det revolutionerande var dels
            |             bilderna, dels hur lätt det var att länka till andra webbsidor.
          p
            | HTML har kontinuerligt utvecklats, dels genom standardiseringsorganisationer,
            | dels genom att tillverkare av webbläsare och webbservrar infört egna
            | utvidgningar. Genom att man inte hållit sig till en gemensam standard
            | är det vanligt att webbsidor inte helt fungerar med alla webbläsare.
          p
    script(type='text/javascript', src='jquery-3.1.1.min.js')
    script(type='text/javascript', src='learn-jquery.js')
